@font-face {
  font-family: "montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserrat.woff2") format("woff2"),
    url("../fonts/montserrat.woff") format("woff");
}

@font-face {
  font-family: "montserratbold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/montserratbold.woff2") format("woff2"),
    url("../fonts/montserratbold.woff") format("woff");
}

@font-face {
  font-family: "oranienbaum";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oranienbaum.woff2") format("woff2"),
    url("../fonts/oranienbaum.woff") format("woff");
}

@font-face {
  font-family: "ptserif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptserif.woff2") format("woff2"),
    url("../fonts/ptserif.woff") format("woff");
}

@font-face {
  font-family: "ptserifbold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptserifbold.woff2") format("woff2"),
    url("../fonts/ptserifbold.woff") format("woff");
}
