html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  @extend %mont-400;
  font-size: 12px;
  line-height: 1.8;
  p {
    letter-spacing: 0.04em;
  }
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.link-btn {
  display: inline-block;
  min-width: 322px;
  border-radius: 7px;
  background-color: #d77d49;
  @extend %mont-700;
  font-size: 14px;
  line-height: 1;
  color: $light;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 5px;
}

.title {
  @extend %oran;
  font-size: 85px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 12px;
  span {
    padding: 0 205px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 165px;
      height: 2px;
      background-color: $accent;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}

.subtitle {
  @extend %pt-400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  max-width: 615px;
  margin: 0 auto;
}

.section-link {
  line-height: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  letter-spacing: 0.04em;
}

.link-box {
  display: flex;
  justify-content: center;
}

.img-box {
  position: relative;
  z-index: 100;
}

.link-focus {
  &:focus-visible {
    outline: none;
  }
  &:focus-visible::before {
    outline: 2px solid #000;
    outline-offset: -2px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
