html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  @extend %mont-400;
  font-size: 12px;
  line-height: 1.8;
  p {
    letter-spacing: 0.04em;
  }
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.link-btn {
  display: inline-block;
  min-width: 322px;
  border-radius: 7px;
  background-color: #d77d49;
  @extend %mont-700;
  font-size: 14px;
  line-height: 1;
  color: $light;
  text-transform: uppercase;
  text-align: center;
  padding: 26px 5px 25px;
  box-shadow: 0 15px 25px rgba(#000, 0.15);
  transition: all 0.3s;
  &:focus-visible,
  &:active {
    background-color: #fff;
    color: $accent;
    box-shadow: none;
  }
  &:hover {
    box-shadow: none;
  }
}

.title {
  @extend %oran;
  font-size: 85px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  span {
    display: inline-block;
    padding: 0 205px;
    max-width: 1184px;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 165px;
      height: 2px;
      background-color: $accent;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
}

.subtitle {
  @extend %pt-400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  max-width: 615px;
  margin: 0 auto;
}

.section-link {
  line-height: 1;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  letter-spacing: 0.04em;
  transition: all 0.15s;
  &:hover {
    color: #fff;
    border-color: #fff;
  }
}

.link-box {
  display: flex;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  margin: 0;
  transform: translateY(-50%);
  background: none;
  width: auto;
  height: auto;
  svg {
    transition: all 0.35s;
  }
  &:hover {
    svg {
      opacity: 1;
    }
  }
}
.swiper-button-prev {
  left: 0;
  padding: 30px 30px 30px 0;
}
.swiper-button-next {
  right: 0;
  padding: 30px 0 30px 30px;
}
