@media (max-width: 1280px) {
  .menu {
    &__list {
      padding-right: 30px;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }
  .search {
    padding-left: 30px;
  }
  .recent {
    &__item {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1160px) {
  .benefits {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 88px 50px;
    }
  }
  .stages {
    &__item:nth-child(3)::after {
      bottom: -60px;
    }
  }
  .consult {
    &__fieldset {
      gap: 67px;
    }
    &__group {
      flex-direction: column;
      align-items: unset;
    }
    &__box {
      max-width: unset;
      &:not(:last-child) {
        margin-bottom: 67px;
      }
    }
    &__btn {
      max-width: 390px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1015px) {
  .menu {
    &__btn {
      display: flex;
      &.menu__btn--active {
        span {
          transform: scale(0);
        }
        &::before {
          top: 48%;
          transform: rotate(-45deg);
        }
        &::after {
          top: 48%;
          transform: rotate(45deg);
        }
      }
    }
    &__list {
      width: 320px;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 150;
      padding-top: 110px;
      height: 100vh;
      background-color: #2c2928;
      transform: translateX(-200%);
      transition: all 0.3s;
      &.menu__list--active {
        transform: translateX(0);
      }
    }
  }
  .search {
    &::before {
      content: unset;
    }
  }
  .intro {
    background-position: right;
    &__inner {
      margin: 0 auto;
    }
    &__content {
      text-align: center;
    }
    &__title {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .stages {
    &__item {
      &::after {
        background-size: contain;
      }
      &:nth-child(1)::after {
        top: 15px;
        right: -95%;
        width: 340px;
      }
      &:nth-child(2)::after {
        left: -104%;
        width: 390px;
      }
      &:nth-child(3)::after {
        bottom: -78px;
        right: -87%;
        width: 310px;
      }
    }
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 80px;
    span {
      padding: 0;
      &::before,
      &::after {
        content: unset;
      }
    }
  }
  .about {
    &__content {
      background-position: center;
    }
  }
  .recent {
    .swiper {
      height: 424px;
    }
    &__item {
      margin-bottom: 0;
    }
    &__img {
      width: 650px;
      max-width: 100%;
      height: 424px;
      margin: 0 auto;
    }
  }
  .stages {
    &__list{
      grid-template-columns: 1fr;
      gap: 50px;
    }
    &__item {
      &:nth-child(2n) {
        margin-top: 0;
        margin-left: auto;
      }
      &:nth-child(1)::after,
      &:nth-child(3)::after {
        background-image: url("../images/content/arrow-1-mobile.png");
        top: 47px;
        right: -47%;
        width: 150px;
        height: 157px;
      }
      &:nth-child(2)::after {
        background-image: url("../images/content/arrow-2-mobile.png");
        bottom: -25px;
        left: -59%;
        width: 192px;
        height: 165px;
      }
      &:nth-child(3)::after{
        top: 102px;
      }
    }
  }
}
