@media (max-width: 1280px) {
  .menu {
    &__list {
      padding-right: 30px;
    }
  }
  .search {
    padding-left: 30px;
  }
  .recent {
    &__item {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1160px) {
  .about {
    .container--disable {
      max-width: unset !important;
      padding: 0 !important;
    }
  }
  .benefits {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      gap: 88px 50px;
    }
    &__item {
      max-width: 300px;
      &--time::before {
        left: 0;
      }
    }
  }
  .stages {
    &__item:nth-child(3)::after {
      bottom: -60px;
    }
  }
  .consult {
    &__fieldset {
      gap: 67px;
      & > :last-child {
        padding-top: 0;
      }
    }
    &__group {
      flex-direction: column;
      align-items: unset;
    }
    &__box {
      max-width: unset;
      &:not(:last-child) {
        margin-bottom: 67px;
      }
    }
    &__btn {
      max-width: 390px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1015px) {
  .header {
    background-color: $dark;
  }
  .intro {
    min-height: 100vh;
    &__inner {
      min-height: 100vh;
      display: grid;
      align-items: center;
    }
  }
  .menu {
    &__btn {
      display: flex;
      &.menu__btn--active {
        span {
          transform: translateX(-15px);
          background-color: transparent;
        }
        &::before {
          transform: rotate(-45deg) translate(-9px, 9px);
        }
        &::after {
          transform: rotate(45deg) translate(-9px, -9px);
        }
      }
    }
    &__list {
      flex-direction: column;
      position: fixed;
      top: 134px;
      left: 0;
      width: 100%;
      z-index: 150;
      padding: 0 0 35px;
      font-size: 20px;
      background-color: $dark;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in;
      &.menu__list--active {
        visibility: visible;
        opacity: 1;
      }
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__link {
      display: block;
      padding: 20px 0;
      text-align: center;
      &:hover::before {
        width: 100%;
      }
    }
  }
  .search {
    padding-left: 0;
    &::before {
      content: unset;
    }
  }
  .intro {
    background-position: right;
    &__inner {
      margin: 0 auto;
    }
    &__content {
      text-align: center;
    }
    &__title {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .stages {
    &__item {
      &::after {
        background-size: contain;
      }
      &:nth-child(1)::after {
        top: 15px;
        right: -95%;
        width: 340px;
      }
      &:nth-child(2)::after {
        left: -104%;
        width: 390px;
      }
      &:nth-child(3)::after {
        bottom: -78px;
        right: -87%;
        width: 310px;
      }
    }
  }
}

@media (max-width: 950px) {
  .title {
    font-size: 80px;
    span {
      padding: 0;
      &::before,
      &::after {
        content: unset;
      }
    }
  }
  .about {
    &__content {
      background-position: center;
    }
  }
  .recent {
    .swiper {
      height: 424px;
    }
    &__item {
      margin-bottom: 0;
    }
    &__img {
      width: 650px;
      max-width: 100%;
      height: 424px;
      margin: 0 auto;
    }
  }
  .stages {
    &__list {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    &__item {
      &:nth-child(2n) {
        margin-top: 0;
        margin-left: auto;
      }
      &:nth-child(1)::after,
      &:nth-child(3)::after {
        background-image: url("../images/content/arrow-1-mobile.svg");
        top: 47px;
        right: -47%;
        width: 150px;
        height: 157px;
      }
      &:nth-child(2)::after {
        background-image: url("../images/content/arrow-2-mobile.svg");
        bottom: -25px;
        left: -59%;
        width: 192px;
        height: 165px;
      }
      &:nth-child(3)::after {
        top: 102px;
      }
    }
  }
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    svg {
      transform: scale(0.6);
    }
  }
  .header {
    &__top {
      display: none;
    }
    .abbr {
      display: none;
    }
    .logo svg {
      width: 168px;
    }
    .name {
      transform: translateX(-74px);
    }
  }
  .menu {
    &__overlay {
      top: 92px;
    }
    &__list {
      top: 92px;
    }
  }

  .intro {
    &__inner {
      padding: 325px 0 75px;
      max-width: 468px;
    }
    &__title {
      font-size: 80px;
    }
  }
  .about {
    padding: 92px 0 86px;
    &__subtitle {
      margin-bottom: 52px;
    }
    &__descr {
      padding-top: 35px;
    }
  }
  .benefits {
    padding: 104px 0 90px;
    &__title {
      margin-bottom: 25px;
    }
    &__subtitle {
      margin-bottom: 85px;
    }
  }
  .recent {
    padding: 82px 0 86px;
    .swiper-button-prev,
    .swiper-button-next {
      padding: 50px 15px;
      svg {
        fill: rgba(#fff, 0.4);
        transform: scale(0.6);
      }
    }
    .swiper-button-disabled {
      pointer-events: unset;
    }
    .container--disable {
      max-width: unset !important;
      padding: 0 !important;
    }
    &__box {
      max-width: 650px;
      margin: 0 auto;
    }
    &__subtitle {
      margin-bottom: 80px;
    }
  }
  .stages {
    padding: 84px 0;
  }
  .reviews {
    padding: 75px 0 145px;
    &__subtitle {
      margin-bottom: 90px;
    }
    &__article {
      min-height: 427px;
    }
    &__img {
      width: 560px;
    }
    &__glass {
      padding: 26px 0;
      max-width: 650px;
      min-height: 344px;
    }
    &__content {
      padding: 34px 30px 25px;
      min-height: 244px;
      margin-bottom: 26px;
      p {
        max-width: 364px;
        font-size: 12px;
      }
    }
    &__author {
      font-size: 16px;
    }
    &__link {
      font-size: 11px;
    }
  }
  .consult {
    padding: 70px 0 88px;
    &__inner {
      padding-top: 120px;
    }
    &__form {
      padding: 65px 65px 65px 50px;
    }
  }
}

@media (max-width: 675px) {
  .title {
    font-size: 60px;
  }
  .subtitle {
    font-size: 14px;
  }
  .intro__title {
    font-size: 70px;
  }
  .benefits {
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      max-width: 390px;
    }
  }
  .stages {
    &__list {
      justify-items: center;
    }
    &__item {
      &::after {
        content: unset;
      }
      &:nth-child(2n) {
        margin-left: unset;
      }
    }
  }
  .consult {
    &__form {
      padding: 50px;
    }
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 50px;
  }
  .subtitle {
    margin-bottom: 50px;
  }
  .intro {
    &__inner {
      padding: 230px 0 55px;
    }
    &__title {
      font-size: 60px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
  .about {
    padding: 50px 0;
    &__content {
      margin-top: -100px;
    }
    &__descr {
      padding: 35px 50px;
    }
  }
  .benefits {
    padding: 60px 0 50px;
    &__list {
      gap: 60px;
    }
  }
  .recent {
    padding: 50px 0;
    .swiper {
      height: 310px;
    }
    &__img {
      height: 310px;
    }
  }
  .stages {
    padding: 50px 0;
    &__list {
      gap: 35px;
    }
    &__item::before {
      font-size: 82px;
      top: 0;
    }
    &__name {
      font-size: 26px;
    }
  }
  .reviews {
    padding: 50px 0 100px;
    &::before,
    &::after {
      width: calc(50% - 95px);
    }
    &__content {
      padding: 34px 42px;
    }
  }
  .consult {
    padding: 50px 0 60px;
    &__subtitle {
      margin-bottom: 0;
    }
    &__inner {
      padding-top: 50px;
    }
    &__fieldset {
      gap: 40px;
    }
    &__box:not(:last-child) {
      margin-bottom: 40px;
    }
    &__form {
      padding: 40px 25px;
    }
    &__label {
      font-size: 14px;
    }
    &__input,
    &__text {
      font-size: 14px;
    }
    &__btn {
      min-width: unset;
    }
  }
  .footer {
    padding: 40px 0 25px;
    gap: 22px;
  }
}

@media (max-width: 415px) {
  .title {
    font-size: 42px;
  }
  .subtitle {
    font-size: 13px;
  }
  .intro {
    &__title {
      font-size: 50px;
    }
    &__link-btn {
      min-width: 280px;
    }
  }
  .about {
    &__descr {
      padding: 35px;
    }
  }
  .consult {
    .container {
      padding: 0;
    }
    &__input {
      height: 50px;
      padding: 0 15px;
    }
    &__text {
      padding: 20px 15px;
    }
  }
}
