$light: #fff;
$accent: #d77d49;
$dark: #2c2928;

%mont-400 {
  font-family: "montserrat", sans-serif;
}
%mont-700 {
  font-family: "montserratbold", sans-serif;
}
%oran {
  font-family: "oranienbaum", serif;
}
%pt-400 {
  font-family: "ptserif", serif;
}
%pt-700 {
  font-family: "ptserifbold", serif;
}
