@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  background-color: rgba(#36312e, 0.8);
  color: $light;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &__top {
    padding: 5px 0;
    border-bottom: 2px solid #7b736e;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
  }
}

.contacts {
  display: flex;
  font-size: 16px;
  text-transform: uppercase;
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    svg {
      margin-right: 13px;
      transition: all 0.15s;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  &__link {
    display: flex;
    svg {
      transition: all 0.15s;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 27px;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  &__content {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1px;
      height: 34px;
      background-color: #fff;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    padding: 8px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: $accent;
      transition: all 0.3s;
    }
    &:hover::before {
      width: 70%;
    }
  }
}

.search {
  &__btn {
    width: 40px;
    height: 40px;
    margin: 0 -8px 0 50px;
  }
}

//----------- intro -----------

.intro {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#222, 0.45);
  }
  &__inner {
    max-width: 610px;
    min-height: 100vh;
    padding: 248px 0 115px;
    position: relative;
    color: $light;
  }
  &__content {
  }
  &__title {
    @extend %oran;
    font-size: 100px;
    line-height: 1;
    letter-spacing: -0.02em;
    padding-top: 48px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 172px;
      height: 4px;
      background-color: $accent;
    }
  }
  &__subtitle {
    @extend %pt-400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 34px;
  }
}

//----------- about -----------

.about {
  padding: 129px 0 127px;
  &__title {
    margin-bottom: 19px;
  }
  &__subtitle {
    margin-bottom: 63px;
  }
  &__content {
    margin-top: -84px;
    padding-top: 86px;
    min-height: 586px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__descr {
    max-width: 597px;
    padding: 45px 88px 35px;
    background-color: rgba(#1d1816, 0.8);
    text-align: center;
    color: $light;
    p {
      margin-bottom: 27px;
    }
  }
  &__link {
    color: #929090;
  }
}

//----------- benefits -----------

.benefits {
  padding: 130px 0 140px;
  background-color: #2d2926;
  color: $light;
  &__subtitle {
    margin-bottom: 120px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: space-between;
    row-gap: 91px;
  }
  &__item {
    max-width: 320px;
    padding: 12px 0 0 118px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }
    &--best::before {
      background-image: url("../images/icons/best.png");
      width: 90px;
      height: 88px;
    }
    &--affordability::before {
      background-image: url("../images/icons/affordability.png");
      width: 91px;
      height: 90px;
    }
    &--time::before {
      background-image: url("../images/icons/time.png");
      width: 55px;
      height: 90px;
      left: 31px;
    }
    &--details::before {
      background-image: url("../images/icons/details.png");
      width: 91px;
      height: 92px;
    }
    &--quality::before {
      background-image: url("../images/icons/quality.png");
      width: 95px;
      height: 80px;
    }
    &--love::before {
      background-image: url("../images/icons/love.png");
      width: 96px;
      height: 87px;
    }
  }
  &__name {
    @extend %pt-700;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
  }
}

//----------- recent -----------

.recent {
  padding: 130px 0 145px;
  &__subtitle {
    margin-bottom: 100px;
  }
  &__box {
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 610px;
    margin: 0 auto;
    overflow: hidden;
  }
  .swiper-slide {
    height: calc((100% - 30px) / 2);
  }
  .swiper-button-disabled {
    display: none;
  }
  &__item {
    position: relative;
    width: max-content;
    &:hover {
      .recent__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__img {
    width: 360px;
    height: 290px;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $light;
    background-color: rgba($accent, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
  &__descr {
    max-width: 185px;
  }
  &__name {
    @extend %pt-700;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 19px;
  }
}

//----------- stages -----------

.stages {
  padding: 135px 0 145px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#151211, 0.8);
    z-index: -1;
  }
  &__subtitle {
    margin-bottom: 80px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    counter-reset: num;
  }
  &__item {
    max-width: 375px;
    counter-increment: num;
    padding: 30px 0 0 40px;
    position: relative;
    &::before {
      content: counter(num);
      position: absolute;
      top: 0;
      left: 0;
      @extend %pt-400;
      font-size: 100px;
      line-height: 1;
      color: rgba($accent, 0.4);
      z-index: -1;
    }
    &:nth-child(-n + 9)::before {
      content: "0" counter(num);
    }
    &:nth-child(2n) {
      margin-top: 70px;
    }
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }
    &:nth-child(1)::after {
      top: -3px;
      right: -112%;
      background-image: url("../images/content/arrow-1.svg");
      width: 416px;
      height: 76px;
    }
    &:nth-child(2)::after {
      bottom: -34px;
      left: -117%;
      background-image: url("../images/content/arrow-2.svg");
      width: 450px;
      height: 117px;
    }
    &:nth-child(3)::after {
      bottom: 28px;
      right: -104%;
      background-image: url("../images/content/arrow-3.svg");
      width: 383px;
      height: 129px;
    }
  }
  &__name {
    @extend %pt-700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 16px;
  }
}

//----------- reviews -----------

.reviews {
  padding: 140px 0 170px;
  &__subtitle {
    margin-bottom: 95px;
  }
  .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  &__item {
    position: relative;
    box-sizing: border-box;
  }
  &__img-box {
    width: max-content;
    margin: 0 auto;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.4);
    }
  }
  &__img {
    width: 811px;
    height: 610px;
    object-fit: cover;
  }
  &__glass {
    position: absolute;
    top: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 945px;
    min-height: 486px;
    padding: 44px 0;
    background-color: rgba(#bfb6af, 0.3);
    border: 1px solid rgba(#2d2926, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    min-height: 330px;
    background-color: #fff;
    padding: 58px 41px;
    margin-bottom: 45px;
    p {
      max-width: 528px;
      font-size: 16px;
    }
  }
  &__author {
    @extend %pt-700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
  }
  &__link {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }
}

.decor {
  height: 24px;
  background-image: url(../images/content/decor.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(50% - 110px);
    height: 2px;
    background-color: $accent;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

//----------- consult -----------

.consult {
  padding: 120px 0 168px;
  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    margin-bottom: 130px;
  }
  &__form {
    padding: 80px 100px;
    box-shadow: 0px 0px 29px rgba(#2f2c2a, 0.18);
  }
  &__fieldset {
    display: grid;
    gap: 56px;
    & > :last-child {
      padding-top: 13px;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__box {
    max-width: 390px;
    width: 100%;
  }
  &__label {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #5c5c5c;
    margin-bottom: 10px;
  }
  &__input,
  &__text {
    font-size: 18px;
    line-height: 1;
    background-color: #f4f4f4;
    border-radius: 7px;
    &::placeholder {
      color: #a3a3a3;
    }
    &:focus-visible {
      background-color: #fff;
      box-shadow: 0 15px 25px rgba(#000, 0.15);
    }
  }
  &__input {
    padding: 20px 21px 24px;
    width: 100%;
    height: 65px;
  }
  &__text {
    padding: 17px 21px;
    width: 100%;
    height: 167px;
    resize: none;
  }
  &__btn {
    width: 100%;
  }
}

//----------- footer -----------

.footer {
  display: grid;
  justify-items: center;
  gap: 29px;
  padding: 53px 0 33px;
  background-color: #151211;
  color: $light;
  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .socials__item:not(:last-child) {
    margin-right: 12px;
  }
}

@import "media";
