@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

//----------- header -----------

.header {
  background-color: rgba(#36312e, 0.8);
  color: $light;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &__top {
    border-bottom: 2px solid #7b736e;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
  }
}

.contacts {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    svg {
      margin-right: 13px;
      transition: all 0.25s;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    svg {
      transition: all 0.25s;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  &__btn {
    display: none;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 200;
    span {
      width: 45px;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 2px;
      background-color: #fff;
      transition: all 0.55s;
    }
    &::before {
      top: 9px;
    }
    &::after {
      bottom: 9px;
    }
  }
  &__overlay {
    position: fixed;
    top: 134px;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(54, 49, 46, 0.8);
    z-index: 140;
    transition: 0.3s ease-in;
    &.menu__overlay--active {
      visibility: visible;
      opacity: 1;
    }
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    padding: 6px 50px 0 0;
    white-space: nowrap;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 19px;
    }
  }
  &__link {
    padding: 7px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 0px;
      height: 3px;
      background-color: $accent;
      transition: all 0.5s;
    }
    &:hover::before {
      width: 65%;
    }
  }
}

.search {
  padding-left: 50px;
  display: flex;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 1px;
    height: 34px;
    background-color: $light;
  }
  &__input {
    display: none;
    width: 175px;
    font-size: 14px;
    background-color: transparent;
    color: #e9dbcf;
    border-bottom: 2px solid #bfbebd;
    padding: 2px 7px;
    margin-right: 5px;
    &::placeholder {
      color: inherit;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    margin-right: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      transition: all 0.25s;
    }
    &:hover {
      svg {
        fill: $accent;
      }
    }
  }
}

//----------- intro -----------

.intro {
  min-height: 960px;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(#222, 0.45);
  }
  &__inner {
    max-width: 610px;
    min-height: 960px;
    padding: 248px 0 115px;
    position: relative;
    z-index: 2;
    color: $light;
    animation-duration: 1.1s;
    animation-delay: 0.45s;
  }
  &__title {
    @extend %oran;
    font-size: 100px;
    letter-spacing: -0.02em;
    padding-top: 48px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 4px;
      background-color: $accent;
      animation-delay: 1.2s;
    }
  }
  &__subtitle {
    @extend %pt-400;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.02em;
    margin-bottom: 34px;
  }
}

//----------- about -----------

.about {
  padding: 120px 0 129px;
  &__title {
    margin-bottom: 13px;
  }
  &__subtitle {
    margin-bottom: 63px;
    position: relative;
    z-index: 3;
  }
  &__content {
    margin-top: -84px;
    padding-top: 86px;
    min-height: 586px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
  }
  &__descr {
    max-width: 597px;
    padding: 45px 88px 35px;
    background-color: rgba(#1d1816, 0.8);
    text-align: center;
    color: $light;
    p {
      margin-bottom: 27px;
    }
  }
  &__link {
    color: #929090;
  }
}

//----------- benefits -----------

.benefits {
  padding: 120px 0 136px;
  background-color: $dark;
  color: $light;
  &__title {
    margin-bottom: 8px;
  }
  &__subtitle {
    margin-bottom: 119px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: space-between;
    row-gap: 91px;
    animation-duration: 1s;
  }
  &__item {
    max-width: 321px;
    padding: 12px 0 0 118px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
    }
    &--best::before {
      background-image: url("../images/icons/best.png");
      width: 90px;
      height: 88px;
    }
    &--affordability::before {
      background-image: url("../images/icons/affordability.png");
      width: 91px;
      height: 90px;
    }
    &--time::before {
      background-image: url("../images/icons/time.png");
      width: 55px;
      height: 90px;
      left: 31px;
    }
    &--details::before {
      background-image: url("../images/icons/details.png");
      width: 91px;
      height: 92px;
    }
    &--quality:before {
      background-image: url("../images/icons/quality.png");
      width: 95px;
      height: 80px;
    }
    &--love::before {
      background-image: url("../images/icons/love.png");
      width: 96px;
      height: 87px;
    }
  }

  &__name {
    @extend %pt-700;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

//----------- recent -----------

.recent {
  padding: 116px 0 146px;
  &__subtitle {
    margin-bottom: 100px;
  }
  &__box {
    position: relative;
    animation-duration: 1s;
  }
  .swiper {
    width: 100%;
    height: 610px;
    margin: 0 auto;
    overflow: hidden;
  }
  .swiper-slide {
    height: calc((100% - 30px) / 2);
  }
  .swiper-button-disabled {
    svg {
      opacity: 0;
    }
  }
  &__inner {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &:hover {
      .recent__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__img {
    width: 360px;
    height: 290px;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $light;
    background-color: rgba($accent, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
  &__descr {
    max-width: 203px;
    p {
      line-height: 1.65;
    }
  }
  &__name {
    @extend %pt-700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 9px;
  }
}

//----------- stages -----------

.stages {
  padding: 125px 0 144px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $light;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#151211, 0.8);
    z-index: -1;
  }
  &__subtitle {
    margin-bottom: 83px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    gap: 26px;
    list-style: none;
    counter-reset: num;
    animation-duration: 1s;
  }
  &__item {
    max-width: 375px;
    counter-increment: num;
    padding: 30px 0 0 40px;
    position: relative;
    p {
      line-height: 1.65;
    }
    &::before {
      content: counter(num);
      position: absolute;
      top: -7px;
      left: -3px;
      @extend %pt-400;
      font-size: 100px;
      color: rgba($accent, 0.4);
      z-index: -1;
    }
    &:nth-child(-n + 9)::before {
      content: "0" counter(num);
    }
    &:nth-child(2n) {
      margin-top: 70px;
    }
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
    }
    &:nth-child(1)::after {
      top: -8px;
      right: -112%;
      background-image: url("../images/content/arrow-1.svg");
      width: 416px;
      height: 76px;
    }
    &:nth-child(2)::after {
      bottom: -50px;
      left: -117%;
      background-image: url("../images/content/arrow-2.svg");
      width: 450px;
      height: 117px;
    }
    &:nth-child(3)::after {
      bottom: 35px;
      right: -104%;
      background-image: url("../images/content/arrow-3.svg");
      width: 383px;
      height: 129px;
    }
  }
  &__name {
    @extend %pt-700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 9px;
  }
}

//----------- reviews -----------

.reviews {
  padding: 127px 0 180px;
  background-image: url("../images/content/decor.svg");
  background-repeat: no-repeat;
  background-position: center bottom 2px;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    width: calc(50% - 110px);
    height: 2px;
    background-color: $accent;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  &__subtitle {
    margin-bottom: 98px;
  }
  .swiper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  &__item {
    position: relative;
    box-sizing: border-box;
  }
  &__article {
    min-height: 610px;
    display: grid;
    align-items: center;
  }
  &__img-box {
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.4);
    }
  }
  &__img {
    width: 811px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__glass {
    position: relative;
    max-width: 945px;
    width: 100%;
    min-height: 517px;
    margin: 0 auto;
    padding: 44px 0;
    background-color: rgba(#bfb6af, 0.3);
    border: 1px solid rgba($dark, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    min-height: 360px;
    background-color: $light;
    padding: 58px 41px;
    margin-bottom: 45px;
    p {
      max-width: 528px;
      font-size: 16px;
    }
  }
  &__author {
    @extend %pt-700;
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
  }
  &__link {
    font-size: 16px;
    color: $light;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding-bottom: 5px;
    &:hover {
      border-color: transparent;
    }
  }
}

//----------- consult -----------

.consult {
  padding: 111px 0 165px;
  &__title {
    margin-bottom: 20px;
  }
  &__inner {
    padding-top: 140px;
  }
  &__form {
    padding: 80px 97px;
    box-shadow: 0px 0px 29px rgba(#2f2c2a, 0.18);
  }
  &__fieldset {
    display: grid;
    gap: 56px;
    & > :last-child {
      padding-top: 18px;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__box {
    max-width: 390px;
    width: 100%;
  }
  &__label {
    display: block;
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 13px;
  }
  &__input,
  &__text {
    font-size: 16px;
    background-color: #f4f4f4;
    border-radius: 7px;
    &::placeholder {
      color: #a3a3a3;
    }
    &:focus-visible {
      background-color: $light;
      box-shadow: 0 15px 25px rgba(#000, 0.15);
    }
  }
  &__input {
    padding: 0 21px;
    width: 100%;
    height: 65px;
  }
  &__text {
    padding: 26px 21px;
    width: 100%;
    height: 167px;
    resize: none;
  }
  &__btn {
    display: block;
    width: 100%;
  }
  .error{
    border: 1px solid #ea0000;
    &::placeholder{
      color: #ea0000;
    }
  }
}

//----------- footer -----------

.footer {
  padding: 53px 0 37px;
  display: grid;
  justify-items: center;
  gap: 31px;
  background-color: #151211;
  color: $light;
  .socials {
    margin-right: -4px;
    &__item {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
    }
  }
}

@import "media";
